gunicorn==19.9.0
Flask==1.0.2
Flask-Cors==3.0.7
Flask-SQLAlchemy==2.3.2
html5lib==1.0.1
matplotlib==3.0.2
numpy==1.15.4
numpydoc==0.8.0
oauthlib==3.0.1
pandas==0.23.4
pickleshare==0.7.5
requests==2.17.1
scipy==1.1.0
sklearn==0.0
tweepy==3.7.0
urllib3==1.24.2