<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<img lang="en">
<head>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mars Weather</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  .navbar-default {
    background-color: #FFFFFF;
    color: #ffffff;
   }
   .navbar-header {
    background-color: #00FFFF;
    color: #FFFFFF;
   }
   body {
  background-color:#E6E6FA;
}
#dimen {
    height: 300px;
    weidth: 300px;
}
#dimen1 {
    height: 500px;
    weidth: 500px;
}
#line{
    line-height: 10px;
}
.header {
  padding: 60px;
  text-align: center;
  background: skyblue;
  color: black;
  font-size: 30px;
}
</style>
</head>
<body>
<div class="container">



        <div class="row">

                <div class="col-md-6">
                    <h3><b>Prediction Of ALl the Sentiments collected</b></h3>
                    <img id="dimen" src= {{ selectedname|safe }} ></img>
                </div>

        </div>


</div>


</body>

</html></title>
</head>
<body>

</body>
</html>